<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" data="home"><i class="fa-solid fa-building"></i> INFT 2202</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" data="home"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="product"><i class="fa-solid fa-cart-shopping"></i> Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="service"><i class="fa-solid fa-bars"></i> Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="about"><i class="fa-solid fa-info"></i> About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="contact"><i class="fa-solid fa-phone"></i> Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  id="login" data="login"><i class="fa fa-sign-in-alt"></i>Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>